option_settings:
  "aws:elasticbeanstalk:application:environment":
    "VOLUME_ID": "vol-4c54dc03"
    "DEVICE": "/dev/sdf"
    "MOUNT_POINT": "/etc/openvpn"
    "REGION": "us-east-1"
packages: 
  yum:
    python-requests: [] 
    python-boto: []
commands:
  run-ebs-mounter-scritp:
    command: python .ebextensions/mount-ebs.py
